/* Resetar margens e padding padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garantir que a imagem ocupe toda a tela sem margens extras */
html, body, #root {
  height: 100%;
  width: 100%;
}

/* REMOVA o display: flex do body */
body {
  overflow-x: hidden; /* Evitar barras de rolagem horizontais */
}
